@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-size: 1.953em;
  text-transform: uppercase;
  font-weight: 400;
}

.icon {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.white-section {
  color: #fff;
}
.white-section p {
  color: #fff;
}

/*Header*/
.hero {
  background: url(../img/hero-background-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 1024px;
  padding: 35px 0 0 0;
}
.hero__top {
  max-width: 1170px;
  margin: 0 auto 60px;
}
.hero__top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}
.hero__top-contacts--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.hero__top-contacts--item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.hero__top-contacts--item:last-child {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.hero__top-contacts .hero-social .icon {
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.hero__top-contacts .hero-social a:hover .icon {
  outline: 1px solid #fff;
  outline-offset: 3px;
}
.hero__top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.25em;
  text-transform: uppercase;
  padding: 5px 5px 5px 50px;
  line-height: 1.5;
  font-weight: 600;
  position: relative;
}
.hero__top-nav .logo {
  background-color: #fff;
  padding: 28px 16px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  line-height: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.hero__top-nav .logo:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 64px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #c5c5c5;
          box-shadow: 0px 0px 20px 0px #c5c5c5;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}
.hero__top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hero__top-nav ul .active {
  color: #5956E9;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.hero__top-nav .push-right {
  margin-left: auto;
}
.hero__top-nav .download-btn {
  color: #fff;
  background: #5956E9;
  border-radius: 5px;
  padding: 12px 15px 8px;
  line-height: 1.5;
}
.hero__main {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 170px;
     -moz-column-gap: 170px;
          column-gap: 170px;
}
.hero__main > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.hero__main-description {
  background-color: #fff;
  max-width: 570px;
  padding: 40px 30px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.hero__main-description::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50px;
  right: -50px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
  border: 18px solid #7572ff;
}
.hero__main-description h2 {
  color: #5956E9;
  line-height: 1.3;
  font-weight: 700;
}
.hero__main-description p {
  color: #6C6C72;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 18px;
}
.hero__main-download p {
  text-transform: uppercase;
  color: #232233;
  font-size: 1.56em;
  margin-bottom: 5px;
}
.hero__main-download img {
  width: 150px;
  height: 45px;
}
.hero__main--right img {
  width: 1800px;
}

/*About*/
.container-wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 120px 0;
}
.container-wrap__header {
  text-align: center;
  margin-bottom: 60px;
}
.container-wrap__header--subtitle {
  line-height: 1.5;
  max-width: 600px;
  margin: 18px auto 0;
  color: #6C6C72;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 90px;
}
.about__info .about-app {
  max-width: 385px;
}
.about__info-graphiks > img {
  position: relative;
  z-index: 2;
}
.about__info-graphiks .elips {
  margin: -65px 0 0 65px;
  z-index: 1;
}
.about__info > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.about__info-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.about__info-advantages--item {
  border-radius: 10px;
  padding: 30px 20px 20px 60px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.about__info-advantages--item .checkbox-icon {
  position: absolute;
  top: 25px;
  left: 18px;
  width: 24px;
  height: 24px;
  fill: #5956E9;
}
.about__info-advantages--item h4 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.about__info-advantages--item p {
  line-height: 1.5;
  color: #6C6C72;
  font-size: 1em;
}

/*App Features*/
.app-features {
  background: url(../img/features-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.app-features .features-chat {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: chat;
  text-align: center;
  padding: 0 5px;
}
.app-features .features-unlimited {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: unlimited;
  text-align: right;
}
.app-features .features-ui {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: ui;
  text-align: right;
}
.app-features .features-infographics {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: infographics;
}
.app-features .features-version {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: version;
}
.app-features .features-version .features-icon {
  margin-left: -7px;
}
.app-features .features-retina {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: retina;
}
.app-features .features-support {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: support;
  text-align: center;
  padding: 0 5px;
}
.app-features__wraper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 3rem 32% 3rem 30%;
  grid-template-columns: 30% 32% 30%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 3rem;
      grid-template-areas: ". chat ." "unlimited infographics version" "ui infographics retina" ". support .";
}
.app-features__wraper-item .features-icon {
  width: 50px;
  height: 50px;
}
.app-features__wraper-item h4 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 20px;
}
.app-features__wraper-item p {
  line-height: 1.5;
  font-size: 1em;
}
.app-features__wraper-item .features-infographics {
  -webkit-box-shadow: 40px 40px 100px 0 rgba(24, 48, 63, 0.5);
          box-shadow: 40px 40px 100px 0 rgba(24, 48, 63, 0.5);
  border-radius: 70px;
}

.checkout-slider .slider {
  position: relative;
  padding: 0 60px;
}
.checkout-slider .slider:before {
  content: "";
  width: 318px;
  height: 620px;
  background: url(../img/slider/iPhoneX-Mockup-bg.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: -10px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 10;
  margin-left: 3px;
}

.checkout-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout-slider .slick-list {
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.checkout-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.checkout-slider .slick-arrow .slider-icon {
  fill: #5956E9;
  width: 48px;
  height: 48px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkout-slider .slick-arrow.slick-prev {
  left: 0;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #5956E9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkout-slider .slick-arrow.slick-prev .slider-icon,
.checkout-slider .slick-arrow.slick-next .slider-icon {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.checkout-slider .slick-arrow.slick-prev:hover .slider-icon,
.checkout-slider .slick-arrow.slick-next:hover .slider-icon {
  fill: #fff;
}

.checkout-slider .slick-arrow.slick-prev:hover,
.checkout-slider .slick-arrow.slick-next:hover {
  background-color: #5956E9;
}

.checkout-slider .slick-arrow.slick-next {
  right: 0;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #5956E9;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkout-slider .slick-slide {
  position: relative;
  text-align: center;
  padding: 30px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
  width: 300px !important;
}

.checkout-slider .slick-sprev {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.checkout-slider .slick-snext {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  z-index: 1;
}

.checkout-slider .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  font-size: 0;
  margin-top: 40px;
}

.checkout-slider .slick-dots li {
  list-style: none;
}

.checkout-slider .slick-dots li button {
  width: 16px;
  height: 16px;
  background-color: #5956E9;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  opacity: 1;
  outline: 1px solid transparent;
  outline-offset: 2px;
  -webkit-transition-property: opacity, outline-color;
  transition-property: opacity, outline-color;
  -webkit-transition-duration: 0.3s, 0.2s;
          transition-duration: 0.3s, 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.checkout-slider .slick-dots li button:hover {
  opacity: 0.9;
}

.checkout-slider .slick-dots li:hover button {
  outline: 1px solid #5956E9;
  outline-offset: 2px;
}

.checkout-slider .slick-dots li.slick-active button {
  outline: 1px solid #5956E9;
  outline-offset: 2px;
}

.checkout-slider .slick-center img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: -10px;
}

/*Download*/
.download .container-wrap {
  padding-top: 0;
}
.download__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.download__info > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.download__info-about > p {
  color: #6C6C72;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 18px;
}
.download__info-about-statistics {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  text-align: center;
  margin-top: 60px;
}
.download__info-about-statistics .icon {
  width: 35px;
  height: 35px;
}
.download__info-about-statistics .stat-item {
  background-color: #5956E9;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 18px;
  width: 176px;
  padding: 20px 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.download__info-about-statistics .stat-item .stat-count {
  font-size: 1.56em;
}
.download__info-about-statistics .stat-item .stat-descr {
  font-size: 1.25em;
}
.download__info-about--dwnl-wrap img {
  width: 150px;
  height: 45px;
}
.download__info-graphiks {
  padding-left: 80px;
}
.download__info-graphiks img {
  position: relative;
  z-index: 2;
}
.download__info-graphiks .elips {
  -webkit-transform: translate(100px, -57px);
          transform: translate(100px, -57px);
  z-index: 1;
}

/*How to use*/
.how-to {
  background: url(../img/how-to-use-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.how-to__video {
  width: 80%;
  height: 400px;
  background: url(../img/laptop-use.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto -320px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.how-to__video:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #5956E9;
  position: absolute;
  opacity: 0.4;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.how-to__video:hover:before {
  opacity: 0.3;
}
.how-to__video .play-video {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: traslate(-50%, -50%);
          transform: traslate(-50%, -50%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.how-to__video .play-video:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*Our team*/
.team {
  margin-top: 200px;
}
.team__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  text-align: center;
}
.team__wraper-item {
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px 20px 52px;
}
.team__wraper-item .team-avatar-wrap {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 65px;
  z-index: 1;
}
.team__wraper-item .team-avatar-wrap:before {
  content: "";
  width: 110%;
  height: 110%;
  background: url(../img/team/team-avatar-border.svg) no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.team__wraper-item .team-avatar {
  position: relative;
  width: 100%;
}
.team__wraper-item .team-name {
  font-weight: 700;
}
.team__wraper-item .team-position {
  color: #6C6C72;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 600;
  margin: 14px 0;
  display: block;
}
.team__wraper-item .team-descript {
  line-height: 1.5;
  color: #6C6C72;
}
.team__wraper-item .team-social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.team__wraper-item .team-social a {
  position: relative;
}
.team__wraper-item .team-social a::after {
  content: "";
  width: 1px;
  height: 24px;
  background-color: #6C6C72;
  position: absolute;
  right: -150%;
}
.team__wraper-item .team-social a:hover .icon {
  fill: #5956E9;
}
.team__wraper-item .team-social a .icon {
  width: 24px;
  height: 24px;
  fill: #232233;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

/*Customers*/
.customers {
  background: url(../img/features-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/*customers slider*/
.customers-slider .slick-list {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.customers-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  font-size: 0;
  margin-top: 40px;
}

.customers-slider .slick-dots li {
  list-style: none;
}

.customers-slider .slick-dots li {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  outline: 1px solid transparent;
  outline-offset: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.customers-slider .slick-dots li:hover {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.customers-slider .slick-dots li.slick-active {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.customers-slider .slick-track {
  max-width: 100% !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
  -webkit-perspective: 100px;
          perspective: 100px;
}

.customers-slider .slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 85% !important;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.customers-slider .slick-snext,
.customers-slider .slick-sprev {
  display: block;
}

.customers-slider .slick-current {
  opacity: 1;
  position: relative;
  display: block;
  z-index: 2;
}

.customers-slider .slick-snext {
  opacity: 1;
  -webkit-transform: translate3d(33%, 0, -8px);
          transform: translate3d(33%, 0, -8px);
  z-index: 1;
}

.customers-slider .slick-sprev {
  opacity: 1;
  -webkit-transform: translate3d(-33%, 0, -8px);
          transform: translate3d(-33%, 0, -8px);
}

.customer-slider-item {
  background-color: #fff;
  height: 360px;
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.customer-slider-item__avatar {
  width: 96px;
  height: 96px;
  margin-bottom: 20px;
}
.customer-slider-item__name {
  color: #232233;
  font-weight: 700;
}
.customer-slider-item__position {
  color: #232233;
  font-weight: 600;
  font-size: 1.25em;
  display: block;
  text-transform: uppercase;
  margin: 14px 0;
}
.customer-slider-item p {
  color: #6C6C72;
  line-height: 1.5;
}

/*Recent blog*/
.recent .container-wrap {
  padding: 120px 0 235px;
}
.recent__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.recent__posts-item {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  padding-bottom: 35px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.recent__posts-item--head {
  font-weight: 600;
  font-size: 1.25em;
  margin: 40px 0 10px;
  text-transform: uppercase;
  padding: 0 18px;
  line-height: 1.5;
}
.recent__posts-item--desc {
  color: #6C6C72;
  line-height: 1.5;
  margin-bottom: 30px;
  padding: 0 18px;
}
.recent__posts-item--read-more {
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
  text-decoration: underline;
  color: #5956E9;
  padding: 0 18px;
}

/*footer*/
.footer {
  background-color: #232233;
}
.footer .container-wrap {
  padding-top: 0;
  padding-bottom: 18px;
}
.footer__contacts {
  color: #232233;
  background-color: #fff;
  width: 100%;
  border-radius: 30px;
  padding: 65px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-115px);
          transform: translateY(-115px);
  -webkit-box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.24);
}
.footer__contacts-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  font-size: 1.56em;
  font-weight: 600;
  position: relative;
  padding-right: 9.5%;
}
.footer__contacts-item--icon-wraper {
  background-color: #5956E9;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
}
.footer__contacts-item--icon-wraper .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.footer__contacts-item:last-child {
  margin-left: 100px;
}
.footer__contacts-item:last-child:before {
  content: "";
  height: 120%;
  width: 4px;
  background-color: #6C6C72;
  position: absolute;
  top: -10px;
  left: -9.5%;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  padding-bottom: 60px;
}
.footer__info-item {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  line-height: 1.5;
}
.footer__info-item .footer-logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 180px;
  margin-bottom: 20px;
}
.footer__info-item--head {
  margin-bottom: 11px;
}
.footer__info-item--social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 80%;
}
.footer__info-item--social a {
  position: relative;
}
.footer__info-item--social a::after {
  content: "";
  width: 1px;
  height: 24px;
  background-color: #6C6C72;
  position: absolute;
  right: -140%;
}
.footer__info-item--social a .icon {
  width: 24px;
  height: 24px;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.footer__info-item--social a:hover .icon {
  fill: #5956E9;
}
.footer__info-item--nav li {
  margin-bottom: 12px;
}
.footer__info-item .footer-subscribe {
  margin-top: 30px;
  position: relative;
}
.footer__info-item .footer-subscribe__input {
  color: #6C6C72;
  background-color: #fff;
  border-radius: 4px;
  padding: 13px 55px 13px 18px;
  width: 100%;
}
.footer__info-item .footer-subscribe__btn {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #5956E9;
  border-radius: 4px;
  padding: 10px 10px 4px 14px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer__info-item .footer-subscribe__btn:hover {
  background-color: #232233;
}
.footer__info-item .footer-subscribe__btn .icon {
  width: 24px;
  height: 24px;
}
.footer__copy {
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.footer__copy .c-symbol {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: -4px;
}