@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-size: 1.953em;
  text-transform: uppercase;
  font-weight: 400;
}

.white-section {
  color: #fff;
}
.white-section p {
  color: #fff;
}

/*Header*/
.hero {
  background: url(../img/hero-background-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 1024px;
  padding: 35px 0 0 0;
}
.hero__top {
  max-width: 1170px;
  margin: 0 auto 60px;
}
.hero__top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}
.hero__top-contacts--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.hero__top-contacts--item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.hero__top-contacts--item:last-child {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.hero__top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.25em;
  text-transform: uppercase;
  padding: 5px 5px 5px 50px;
  line-height: 1.5;
  font-weight: 600;
  position: relative;
}
.hero__top-nav .logo {
  background-color: #fff;
  padding: 28px 16px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  line-height: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.hero__top-nav .logo:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 64px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #c5c5c5;
          box-shadow: 0px 0px 20px 0px #c5c5c5;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}
.hero__top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hero__top-nav ul .active {
  color: #5956E9;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.hero__top-nav .push-right {
  margin-left: auto;
}
.hero__top-nav .download-btn {
  color: #fff;
  background: #5956E9;
  border-radius: 5px;
  padding: 12px 15px 8px;
  line-height: 1.5;
}
.hero__main {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 170px;
     -moz-column-gap: 170px;
          column-gap: 170px;
}
.hero__main-description {
  background-color: #fff;
  max-width: 570px;
  padding: 40px 30px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.hero__main-description::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50px;
  right: -50px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
  border: 18px solid #7572ff;
}
.hero__main-description h2 {
  color: #5956E9;
  line-height: 1.3;
  font-weight: 700;
}
.hero__main-description p {
  color: #6C6C72;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 18px;
}
.hero__main-download p {
  text-transform: uppercase;
  color: #232233;
  font-size: 1.56em;
  margin-bottom: 5px;
}
.hero__main-download img {
  width: 150px;
  height: 45px;
}
.hero__main--right img {
  width: 1800px;
}

/*About*/
.container-wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 120px 0;
}
.container-wrap__header {
  text-align: center;
  margin-bottom: 60px;
}
.container-wrap__header--subtitle {
  line-height: 1.5;
  max-width: 600px;
  margin: 18px auto 0;
  color: #6C6C72;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 90px;
}
.about__info .about-app {
  max-width: 385px;
}
.about__info-graphiks > img {
  position: relative;
  z-index: 2;
}
.about__info-graphiks .elips {
  margin: -65px 0 0 65px;
  z-index: 1;
}
.about__info > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.about__info-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.about__info-advantages--item {
  border-radius: 10px;
  padding: 30px 20px 20px 60px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.about__info-advantages--item .checkbox-img {
  position: absolute;
  left: 18px;
}
.about__info-advantages--item h4 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.about__info-advantages--item p {
  line-height: 1.5;
  color: #6C6C72;
  font-size: 1em;
}

/*App Features*/
.app-features {
  background: url(../img/features-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.app-features .features-chat {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: chat;
  text-align: center;
  padding: 0 5px;
}
.app-features .features-unlimited {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: unlimited;
  text-align: right;
}
.app-features .features-ui {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: ui;
  text-align: right;
}
.app-features .features-infographics {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: infographics;
}
.app-features .features-version {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: version;
}
.app-features .features-version .features-icon {
  margin-left: -7px;
}
.app-features .features-retina {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: retina;
}
.app-features .features-support {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: support;
  text-align: center;
  padding: 0 5px;
}
.app-features__wraper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 3rem 32% 3rem 30%;
  grid-template-columns: 30% 32% 30%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 3rem;
      grid-template-areas: ". chat ." "unlimited infographics version" "ui infographics retina" ". support .";
}
.app-features__wraper-item h4 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 20px;
}
.app-features__wraper-item p {
  line-height: 1.5;
  font-size: 1em;
}
.app-features__wraper-item .features-infographics {
  -webkit-box-shadow: 40px 40px 100px 0 rgba(24, 48, 63, 0.5);
          box-shadow: 40px 40px 100px 0 rgba(24, 48, 63, 0.5);
  border-radius: 70px;
}

.slider {
  position: relative;
  padding: 0 60px;
}
.slider:before {
  content: "";
  width: 318px;
  height: 620px;
  background: url(../img/slider/iPhoneX-Mockup-bg.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: -10px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 10;
  margin-left: 3px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.slick-arrow img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slick-arrow.slick-prev {
  left: 0;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #5956E9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slick-arrow.slick-prev img {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.slick-arrow.slick-next img {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.slick-arrow.slick-prev:hover img,
.slick-arrow.slick-next:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  background-color: #5956E9;
}

.slick-arrow.slick-next {
  right: 0;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #5956E9;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slick-slide {
  position: relative;
  text-align: center;
  padding: 30px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
  width: 300px !important;
}

.slick-sprev {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.slick-snext {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  z-index: 1;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  font-size: 0;
  margin-top: 40px;
}

.slick-dots li {
  list-style: none;
}

.slick-dots li button {
  width: 16px;
  height: 16px;
  background-color: #5956E9;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.slick-dots li button:hover {
  opacity: 0.9;
}
.slick-dots li button::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #5956E9;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slick-dots li:hover button::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #5956E9;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick-dots li.slick-active button:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #5956E9;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick-center img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: -10px;
}

/*Download*/
.download .container-wrap {
  padding-top: 0;
}
.download__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.download__info > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.download__info-about > p {
  color: #6C6C72;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 18px;
}
.download__info-about-statistics {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  text-align: center;
  margin-top: 60px;
}
.download__info-about-statistics .stat-item {
  background-color: #5956E9;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 18px;
  width: 176px;
  padding: 20px 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.download__info-about-statistics .stat-item .stat-count {
  font-size: 1.56em;
}
.download__info-about-statistics .stat-item .stat-descr {
  font-size: 1.25em;
}
.download__info-about--dwnl-wrap img {
  width: 150px;
  height: 45px;
}
.download__info-graphiks {
  padding-left: 80px;
}
.download__info-graphiks img {
  position: relative;
  z-index: 2;
}
.download__info-graphiks .elips {
  -webkit-transform: translate(100px, -57px);
          transform: translate(100px, -57px);
  z-index: 1;
}