@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$royal-blue: #5956E9;
$dark-blue: #232233;
$gray: #6C6C72;
$w: #fff;
$font-josefin-sans: "Josefin Sans", sans-serif;
$font-work-sans: "Work Sans", sans-serif;



body {
    font-family: $font-josefin-sans;

}

h2 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 400;
}

h3 {
    font-size: 1.953em;
    text-transform: uppercase;
    font-weight: 400;
}

/*Header*/
.hero {
    background: url(../img/hero-background-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 1024px;
    padding: 35px 0 0 0;

    &__top {
        max-width: 1170px;
        margin: 0 auto 60px;

        &-contacts {
            display: flex;
            justify-content: space-between;
            color: $w;
            margin-bottom: 15px;

            &--item {
                display: flex;
                column-gap: 50px;

                a {
                    display: flex;
                    align-items: center;
                    column-gap: 18px;
                }
            }

            &--item:last-child {
                column-gap: 30px;
            }
        }

        &-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 40px;
            background-color: $w;
            border-radius: 5px;
            font-size: 1.25em;
            text-transform: uppercase;
            padding: 5px 5px 5px 50px;
            line-height: 1.5;
            font-weight: 600;
            position: relative;

            .logo {
                background-color: $w;
                padding: 28px 16px;
                border-radius: 5px;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                width: 200px;
                line-height: 1;
                transform-style: preserve-3d;

                &:before {
                    content: '';
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    width: 100%;
                    height: 64px;
                    background-color: $w;
                    box-shadow: 0px 0px 20px 0px #c5c5c5;
                    //filter: drop-shadow(-2px 1px 21px #c5c5c5);
                    transform: translateZ(-1px);
                }
            }

            ul {
                display: flex;
                column-gap: 40px;
                flex-grow: 1;

                .active {
                    color: $royal-blue;
                    text-decoration: underline;
                    text-underline-offset: 4px;
                }
            }

            .push-right {
                margin-left: auto;
            }

            .download-btn {
                color: $w;
                background: $royal-blue;
                border-radius: 5px;
                padding: 12px 15px 8px;
                line-height: 1.5;
            }
        }
    }

    &__main {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 170px;

        &-description {
            background-color: $w;
            max-width: 570px;
            padding: 40px 30px;
            position: relative;
            transform-style: preserve-3d;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: -50px;
                right: -50px;
                transform: translateZ(-1px);
                border: 18px solid #7572ff;
            }

            & h2 {
                color: $royal-blue;
                line-height: 1.3;
                font-weight: 700;
            }

            & p {
                color: $gray;
                line-height: 1.5;
                margin-bottom: 50px;
                margin-top: 18px;
            }
        }

        &-download p {
            text-transform: uppercase;
            color: $dark-blue;
            font-size: 1.56em;
            margin-bottom: 5px;
        }

        &--right img {
            width: 1800px;
        }

    }
}

/*About*/

.container-wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding: 120px 0;

    &__header {
        text-align: center;

        &--subtitle {
            line-height: 1.5;
            max-width: 600px;
            margin: 18px auto 0;
        }
    }
}

.about {
    &__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 148px;

        &-graphiks>img {
            position: relative;
            z-index: 2;
        }

        &-graphiks .elips {
            margin: -65px 0 0 65px;
            z-index: 1;
        }

        &>div {
            flex-basis: 50%;
        }

        &-advantages {
            display: flex;
            flex-direction: column;
            row-gap: 40px;

            &--item {
                border-radius: 10px;
                padding: 30px 20px 20px 60px;
                box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
                position: relative;

                .checkbox-img {
                    position: absolute;
                    left: 18px;
                }

                & h4 {
                    font-size: 1.25em;
                    text-transform: uppercase;
                    margin-bottom: 13px;
                }

                & p {
                    line-height: 1.5;
                    color: $gray;
                    font-size: 1em;
                }
            }
        }

    }
}

//box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);